<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout_admin}">

<div layout:fragment="content" class="page-wrapper">
    <div th:replace="fragments/admin/nav"></div>
    <div class="container-fluid py-4">

      <div class="row">
        <div class="col-12 d-flex">
          <a href="/admin/tour/add" class="text-white bg-gradient ml-auto">
            <button class="btn btn-primary" type="button">Thêm tour</button></a>
        </div>
        <div class="col-12">
          <div class="card my-4 ml-auto">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3">Danh sách tour</h6>
              </div>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Tên</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Thời gian</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Giá</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Phương tiện</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Điểm đi</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Điểm đến</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Trạng thái</th>
                    <th class="text-secondary opacity-7"></th>
                    <th class="text-secondary opacity-7"></th>
                  </tr>
                  </thead>
                  <tbody th:each="tour : ${tours}">
                  <tr>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-sm" th:text="${tour.name}">Tham quan Đà Lạt</h6>
                        </div>
                      </div>
                    </td>
                    <td>
                      <p class="text-xs font-weight-bold mb-0" th:text="${tour.dayDuration} + ' ngày ' + ${tour.nightDuration} + ' đêm'">3 ngày 2 đêm</p>
                    </td>
                    <td class="align-middle text-center text-sm">
                      <p class="text-xs font-weight-bold mb-0" th:text="${tour.price}">1.000.000 vnđ</p>
                    </td>
                    <td class="align-middle text-center">
                      <span class="text-secondary text-xs font-weight-bold" th:text="${tour.vehicle}">Xe 4 chỗ</span>
                    </td>
                    <td class="align-middle text-center">
                      <span class="text-secondary text-xs font-weight-bold" th:text="${tour.departure.city}">Hà Nội</span>
                    </td>
                    <td class="align-middle text-center">
                      <th:block th:each="destination : ${tour.destinations}">
                        <span class="text-secondary text-xs font-weight-bold" th:text="${destination.city}">Hồ Chí Minh</span>
                      </th:block>
                    </td>
                    <td class="align-middle text-center text-sm" th:switch="${tour.isActive}">
                      <span class="badge badge-sm bg-gradient-success" th:case="true">Active</span>
                      <span class="badge badge-sm bg-gradient-secondary" th:case="false">UnActive</span>
                    </td>
                    <td class="align-middle">
                      <form method="get" th:action="@{/admin/tour/update/{id}(id=${tour.id})}">
                        <button type="submit" class="btn">Edit</button>
                      </form>
                    </td>
                    <td class="align-middle">
                      <form method="post" th:action="@{/admin/tour/delete/{id}(id=${tour.id})}">
                        <input type="hidden" th:name="${tour.id}">
                        <button type="submit" class="btn">Detele</button>
                      </form>
                    </td>
                  </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

</div>
</html>
