<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout_admin}">

<div layout:fragment="content" class="page-wrapper">
    <div th:replace="fragments/admin/nav"></div>

    <div class="container-fluid py-4">
        <h1>Thêm tour</h1>
        <form id="tour-form" class="w-100" th:object="${tour}" th:action="@{/admin/tour/add}" method="post"
              enctype="multipart/form-data">
            <input type="hidden" th:field="*{id}">
            <div class="row">
                <div class="col-6">
                    <div class="row">
                        <div class="col-12">
                            <div class="input-group input-group-static mb-4">
                                <label for="name">Tên tour</label>
                                <input id="name" type="text" class="form-control" th:field="*{name}">
                                <p class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="input-group input-group-static mb-4 ">
                                <label for="dayDuration">Số ngày</label>
                                <input id="dayDuration" type="number" class="form-control" th:field="*{dayDuration}">
                                <p class="text-danger" th:if="${#fields.hasErrors('dayDuration')}"
                                   th:errors="*{dayDuration}"></p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group input-group-static mb-4">
                                <label for="nightDuration">Số đêm</label>
                                <input id="nightDuration" type="number" class="form-control" th:field="*{nightDuration}">
                                <p class="text-danger" th:if="${#fields.hasErrors('nightDuration')}"
                                   th:errors="*{nightDuration}"></p>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="input-group input-group-static mb-4">
                                <label for="price">Giá cho một người</label>
                                <input id="price" type="number" class="form-control" th:field="*{price}">
                                <p class="text-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group input-group-static mb-4">
                                <label for="vehicle">Phương tiện</label>
                                <input id="vehicle" type="text" class="form-control" th:field="*{vehicle}">
                                <p class="text-danger" th:if="${#fields.hasErrors('vehicle')}"
                                   th:errors="*{vehicle}"></p>
                            </div>
                        </div>

                        <div class="col-12">
                            <label>Điểm đi</label>
                            <div class="row border-dashed address-detail-0 p-2 mb-2">
                                <input type="hidden" th:field="*{departure.id}">
                                <div class="col-4">
                                    <div class="input-group input-group-static mb-4">
                                        <label for="country-0" class="ms-0">Quốc
                                            gia</label>
                                        <select class="form-control country"
                                                id="country-0"
                                                th:field="*{departure.country}"
                                                th:attr="defaultValue=${tour.departure.country}">
                                            <!--                                                                                                    <option selected>Hãy chọn quốc gia</option>-->
                                        </select>
                                    </div>
                                </div>

                                <div class="col-4">
                                    <div class="input-group input-group-static mb-4">
                                        <label for="state-0"
                                               class="ms-0">Tỉnh</label>
                                        <select class="form-control state"
                                                id="state-0"
                                                th:field="*{departure.state}"
                                                th:attr="defaultValue=${tour.departure.state}">
                                            <option th:value="''" selected>Hãy chọn một tỉnh</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-4">
                                    <div class="input-group input-group-static mb-4">
                                        <label for="city-0"
                                               class="ms-0">Thành phố</label>
                                        <select class="form-control city"
                                                id="city-0"
                                                th:field="*{departure.city}"
                                                th:attr="defaultValue=${tour.departure.city}">
                                            <option th:value="''" selected>Hãy chọn một thành phố</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <label>Điểm đến</label>
                            <th:block th:if="${tour.destinations}">
                                <div class="row border-dashed address-detail-0 p-2 mb-2"
                                     th:each="destination : ${tour.destinations}">
                                    <input type="hidden" th:field="*{destinations[__${destinationStat.index}__].id}">
                                    <div class="col-4">
                                        <div class="input-group input-group-static mb-4">
                                            <label th:for="'country-' + ${destinationStat.index + 1}" class="ms-0">Quốc
                                                gia</label>
                                            <select class="form-control country"
                                                    th:id="'country-' + ${destinationStat.index + 1}"
                                                    th:field="*{destinations[__${destinationStat.index}__].country}"
                                                    th:attr="defaultValue=${destination.country}">
                                                <!--                                                                                                    <option selected>Hãy chọn quốc gia</option>-->
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-4">
                                        <div class="input-group input-group-static mb-4">
                                            <label th:for="'state-' + ${destinationStat.index + 1}"
                                                   class="ms-0">Tỉnh</label>
                                            <select class="form-control state"
                                                    th:id="'state-' + ${destinationStat.index + 1}"
                                                    th:field="*{destinations[__${destinationStat.index}__].state}"
                                                    th:attr="defaultValue=${destination.state}">
                                                <option th:value="''" selected>Hãy chọn một tỉnh</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-4">
                                        <div class="input-group input-group-static mb-4">
                                            <label th:for="'city-' + ${destinationStat.index + 1}"
                                                   class="ms-0">Thành phố</label>
                                            <select class="form-control city"
                                                    th:id="'city-' + ${destinationStat.index + 1}"
                                                    th:field="*{destinations[__${destinationStat.index}__].city}"
                                                    th:attr="defaultValue=${destination.city}">
                                                <option th:value="''" selected>Hãy chọn một thành phố</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </th:block>
                        </div>
                        <div class="btn address-btn">Thêm địa chỉ</div>

                        <div class="col-12">
                            <div class="form-check form-switch">
                                <input id="isActive" class="form-check-input" type="checkbox" th:field="*{isActive}" th:checked="*{isActive}">
                                <label for="isActive" class="form-check-label">Checked switch</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group input-group-static mb-4">
                                <label for="file">Ảnh</label>
                                <input id="file" type="file" name="file" accept="image/*" class="form-control">
                                <input type="hidden" th:field="*{image}">
                                <p class="text-danger" th:if="${#fields.hasErrors('image')}" th:errors="*{image}"></p>
                                <img width="200" th:if="${tour.image}" th:src="${tour.image}">
                            </div>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary mt-4 ">Xác nhận</button>
                        </div>
                    </div>
                </div>
                <div class="col-6 h-100">
                    <div class="row">
                        <div class="col-12">
                            <label for="summernote">Mô tả</label>
                            <textarea id="summernote" th:field="*{tourDetail.description}"></textarea>
                        </div>
                        <div class="col-12">
                            <label for="summernote2">Lịch trình</label>
                            <textarea id="summernote2" th:field="*{tourDetail.schedule}"></textarea>
                        </div>


                    </div>
                </div>


            </div>

        </form>
    </div>
</div>
</div>

<div layout:fragment="scripts" th:remove="tag">
    <script>
        $(document).ready(function () {
            $('#summernote').summernote({
                height: 200,

                fontSizeUnits: ['px', 'pt']
            })
            $('#summernote2').summernote({
                height: 200,
                fontSizeUnits: ['px', 'pt']
            })
        });
    </script>

    <script>
        (async () => {
            let countrySelects = document.querySelectorAll('.country')

            // init
            countrySelects.forEach((select, index) => {
                setSelect(select, fetchCountry, 'country', index)

                let stateSelect = document.querySelector(`#state-${index}`)
                let citySelect = document.querySelector(`#city-${index}`)

                if (select.getAttribute('defaultValue') != null) {
                    stateSelect.disabled = false
                    setSelect(stateSelect, () => fetchState(select.getAttribute('defaultValue')), 'state', index)
                }

                if (stateSelect.getAttribute('defaultValue') != null) {
                    citySelect.disabled = false
                    setSelect(citySelect, () => fetchCity(select.getAttribute('defaultValue'), stateSelect.getAttribute('defaultValue')), 'city', index)
                }
            })

        })()


        function fetchCountry() {
            var headers = new Headers();
            headers.append("X-CSCAPI-KEY", `${COUNTRY_KEY}`);

            var requestOptions = {
                method: 'GET',
                headers: headers,
                redirect: 'follow'
            };

            return fetch(`${COUNTRY_API}/countries`, requestOptions)
                .then(response => response.json())
                .catch(error => console.log('error', error));
        }

        function fetchState(countryValue) {
            var headers = new Headers();
            headers.append("X-CSCAPI-KEY", `${COUNTRY_KEY}`);

            var requestOptions = {
                method: 'GET',
                headers: headers,
                redirect: 'follow'
            };

            return fetch(`${COUNTRY_API}/countries/${countryValue}/states`, requestOptions)
                .then(response => response.json())
                .catch(error => console.log('error', error));
        }

        function fetchCity(countryValue, stateValue) {
            var headers = new Headers();
            headers.append("X-CSCAPI-KEY", `${COUNTRY_KEY}`);

            var requestOptions = {
                method: 'GET',
                headers: headers,
                redirect: 'follow'
            };

            return fetch(`${COUNTRY_API}/countries/${countryValue}/states/${stateValue}/cities`, requestOptions)
                .then(response => response.json())
                .catch(error => console.log('error', error));
        }

        async function setSelect(select, callback, type = 'country', index) {
            let data = await callback()
            let html = `<option disabled selected>Hãy chọn một ${type == 'country' ? 'quốc gia' : type == 'state' ? 'tỉnh' : 'thành phố'}</option>`
            data.forEach(c => {
                let value = c.iso2 || c.id
                if (select.getAttribute('defaultValue') == value) html += `<option selected value="${value}">${c.name}</option>`
                else html += `<option value="${value}">${c.name}</option>`
            })
            select.innerHTML = html
            if (type == 'country') {
                select.onchange = function (e) {
                    let value = e.target.options[e.target.selectedIndex].value
                    let stateSelect = document.querySelector(`#state-${index}`)
                    setSelect(stateSelect, () => fetchState(value), 'state', index)
                }
            }

            if (type == 'state') {
                select.onchange = function (e) {
                    let countrySelect = document.querySelector(`#country-${index}`)
                    let citySelect = document.querySelector(`#city-${index}`)
                    let value = e.target.options[e.target.selectedIndex].value
                    citySelect.disabled = false
                    setSelect(citySelect, () => fetchCity(countrySelect.options[countrySelect.selectedIndex].value, value), 'city')
                }
            }
        }
    </script>

    <script>
        let tourForm = document.forms[0]
        let btn = document.querySelector('.address-btn')

        // let addressForm =
        btn.addEventListener('click', function (e) {
            let form = tourForm.cloneNode(true)
            form.id = ""
            form.action = "/admin/tour/add-address"
            form.method = "post"
            document.body.append(form)
            form.submit()
        })
    </script>
</div>

</html>