<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- =======================
	header Start-->
<header class="header-static navbar-sticky navbar-light shadow">

    <!-- Navbar top start-->
    <div class="navbar-top d-none d-lg-block">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <!-- navbar top Left-->
                <div class="d-flex align-items-center">
                    <!-- Language -->
                    <div class="dropdown">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownLanguage"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                           th:switch="${#strings.toString(param.lang)}">
                            <!--<img class="dropdown-item-icon" src="/client_src/images/flag/vn.svg" th:case="'vi'" alt="">
                            <img class="dropdown-item-icon" src="/client_src/images/flag/uk.svg" th:case="'en'" alt="">
                            <img class="dropdown-item-icon" src="/client_src/images/flag/vn.svg" th:case="*" alt="">-->
                            <span th:text="#{nav.select}"></span> </a>
                        <div class="dropdown-menu mt-2 shadow" aria-labelledby="dropdownLanguage"><span
                                class="dropdown-item-text" th:text="#{nav.select}">Select language</span>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="?lang=vi"><img class="dropdown-item-icon"
                                                                          src="/images/flag/vn.svg"
                                                                          alt=""> <span
                                    th:text="#{nav.select.vi}"></span></a>
                            <a class="dropdown-item" href="?lang=en"><img class="dropdown-item-icon"
                                                                          src="/images/flag/uk.svg"
                                                                          alt=""> <span
                                    th:text="#{nav.select.en}"></span></a>
                        </div>
                    </div>
                    <!-- Top info -->
                    <ul class="nav list-unstyled ml-3">
                        <li class="nav-item mr-3"><a class="navbar-link" href="#"><strong>Phone:</strong> (036) 515-1354</a>
                        </li>
                        <li class="nav-item mr-3"><a class="navbar-link" href="#"><strong>Email:</strong>
                            chuan14402@gmail.com</a></li>
                    </ul>
                </div>

                <!-- navbar top Right-->
                <div class="d-flex align-items-center">
                    <!-- Top Account -->
                    <div class="dropdown">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownAccount"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="far fa-user mr-2"></i>
                            <span th:text="${#authorization?.expression('isAuthenticated()')? #authentication.getName(): 'Account'}">Account</span>
                        </a>
                        <div class="dropdown-menu mt-2 shadow" aria-labelledby="dropdownAccount">
                            <a
                                    th:unless="${#authorization?.expression('isAuthenticated()')}" class="dropdown-item"
                                    th:href="@{/auth/login}">Log In</a>
                            <a class="dropdown-item"
                               th:unless="${#authorization?.expression('isAuthenticated()')}"
                               th:href="@{/auth/register}">Register</a>
                            <a class="dropdown-item"
                               th:if="${#authorization?.expression('isAuthenticated()')}"
                               th:href="@{/auth/logout}">Log out</a>
                        </div>


                    </div>

                    <!-- top social -->
                    <ul class="social-icons">
                        <li class="social-icons-item social-facebook m-0"><a class="social-icons-link w-auto px-2"
                                                                             href="#"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li class="social-icons-item social-instagram m-0"><a class="social-icons-link w-auto px-2"
                                                                              href="#"><i
                                class="fab fa-twitter"></i></a></li>
                        <li class="social-icons-item social-twitter m-0"><a class="social-icons-link w-auto pl-2"
                                                                            href="#"><i
                                class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Navbar top End-->

    <!-- Logo Nav Start -->
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <!-- Logo -->
            <a class="navbar-brand" href="/"> <img src="/images/logo-header.png" alt="travelgo">
            </a>
            <!-- Menu opener button -->
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"><span
                    class="navbar-toggler-icon"> </span></button>
            <!-- Main Menu Start -->
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <!-- Menu item 1 Demos-->
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/hotel}" style="white-space: nowrap"
                           th:text="#{nav.hotel}">Hotels</a>

                    </li>
                    <li class="nav-item"><a class="nav-link" th:href="@{'/tour?domestic=1'}"
                                            th:text="#{nav.domestic}"></a>
                    </li>
                    <li class="nav-item"><a class="nav-link" th:href="@{'/tour?foreign=1'}"
                                            th:text="#{nav.international}">Tour</a>
                    </li>


                </ul>
            </div>

        </div>
    </nav>
    <!-- Logo Nav End -->
</header>
<!-- =======================
	header End-->
</html>