<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<body>
<div layout:fragment="content">
    <!-- =======================
	Main Banner -->
    <section class="p-0 height-700 parallax-bg"
             style="background:url(/images/banner/banner2.jpg) no-repeat 65% 0%; background-size:cover;">
        <div class="container h-100">
            <div class="row justify-content-between align-items-center h-100">
                <div class="col-md-8 mb-7">
                    <h4>Lorem ipsum dolor sit amet</h4>
                    <h1 class="display-4 font-weight-bold">Sed ut perspiciatis unde omnis </h1>
                </div>
            </div>
        </div>
    </section>
    <!-- =======================
        Main banner -->

    <section class="mt-lg-n9 mt-sm-0 pb-0 z-index-9 booking-search">
        <div class="container ">
            <div class="row shadow border-radius-3">
                <div class="col-md-12 np">
                    <div class="feature-box h-100">
                        <div class="tab_container">
                            <input id="tab1" type="radio" name="tabs" checked>
                            <label for="tab1"><i class="fas fa-route"></i><span th:text="#{common.tours}">Tours</span></label>
                            <input id="tab2" type="radio" name="tabs">
                            <label for="tab2"><i class="fas fa-utensils"></i><span th:text="#{common.hotel}">Hotels</span></label>
<!--                            <input id="tab3" type="radio" name="tabs">-->
<!--                            <label for="tab3"><i class="fas fa-helicopter"></i><span th:text="#{common.flight}">Flights</span></label>-->

                            <section id="content1" class="tab-content">
                                <form class="row" th:action="@{/tour}">
                                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 padding8">
                                        <div class="form-group">
                                            <input class="form-control" type="text" name="kw"
                                                   th:placeholder="#{form.search.holder}">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 padding8">
                                        <div class="form-group">
                                            <input class="form-control" type="number" name="from"
                                                   th:placeholder="#{form.price.from}">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 padding8">
                                        <div class="form-group">
                                            <input class="form-control" type="number" name="to"
                                                   th:placeholder="#{form.price.to}">
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12 padding8">
                                        <div class="form-group">
                                            <button th:text="#{form.submit.label}" class="btn btn-primary btn-lg btn-grad" type="submit">Search
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </section>
                            <section id="content2" class="tab-content">
                                <form class="row" th:action="@{/hotel}">
                                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 padding8">
                                        <div class="form-group">
                                            <input class="form-control" type="text" name="kw"
                                                   th:placeholder="#{form.search.holder}">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 padding8">
                                        <div class="form-group">
                                            <input class="form-control" type="number" name="from"
                                                   th:placeholder="#{form.price.from}">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 padding8">
                                        <div class="form-group">
                                            <input class="form-control" type="number" name="to"
                                                   th:placeholder="#{form.price.to}">
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12 padding8">
                                        <div class="form-group">
                                            <button th:text="#{form.submit.label}" class="btn btn-primary btn-lg btn-grad" type="submit">Search
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </section>
<!--                            <section id="content3" class="tab-content">-->
<!--                                <div class="row">-->
<!--                                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 padding8">-->
<!--                                        <div class="form-group"><span class="fas fa-map-marker-alt"></span>-->
<!--                                            <input class="form-control" type="text"-->
<!--                                                   placeholder="From : City, Airport, U.S. Zip">-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 padding8">-->
<!--                                        <div class="form-group"><span class="fas fa-map-marker-alt"></span>-->
<!--                                            <input class="form-control" type="text"-->
<!--                                                   placeholder="To : City, Airport, U.S. Zip">-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12 padding8">-->
<!--                                        <div class="form-group"><span class="far fa-calendar-alt"></span>-->
<!--                                            <input class="form-control" type="text" id="datepicker-1" autocomplete="off"-->
<!--                                                   placeholder="Departing">-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12 padding8">-->
<!--                                        <div class="form-group"><span class="far fa-calendar-alt"></span>-->
<!--                                            <input class="form-control" type="text" id="datepicker-2" autocomplete="off"-->
<!--                                                   placeholder="Returning">-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12 padding8">-->
<!--                                        <div class="form-group">-->
<!--                                            <button class="btn btn-primary btn-lg btn-grad" type="submit">Search-->
<!--                                            </button>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </section>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="Categories pt80 pb60">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-8">
                    <p class="subtitle text-secondary nopadding">MOST POPULAR CITIES</p>
                    <h1 class="paddtop1 font-weight lspace-sm">Popular Destination</h1>
                </div>
                <div class="col-md-4 d-lg-flex align-items-center justify-content-end">
                    <a th:href="@{/tour}" class="blist text-sm ml-2">
                        <span th:text="#{common.viewMore}">See all cities</span><i
                            class="fas fa-angle-double-right ml-2"></i></a>
                </div>
            </div>
            <div style="display: grid; grid-template-columns: 2fr 1fr 1fr; grid-template-rows: 250px 250px; grid-gap: 10px; height: 500px">
                <div style="grid-column-start: 1; grid-row-start: 1; grid-row-end: 3;" class="h-100">
                    <a th:href="@{/tour/{id}(id=${top5Tours.getContent().get(0).id})}">
                        <div class="list-mig-like-com m-0 h-100">
                            <div class="list-mig-lc-img h-100">
                                <img class="h-100" style="object-fit: cover"
                                     th:src="${top5Tours.getContent().get(0).image}" alt="">
                            </div>
                            <div class="list-mig-lc-con">
                                <h5 th:text="${top5Tours.getContent().get(0).name}">United States</h5>
                                <p th:text="${top5Tours.getContent().get(0).dayDuration + ' ngày ' + top5Tours.getContent().get(0).nightDuration + ' đêm'}">
                                    81 Cities </p>
                            </div>
                        </div>
                    </a></div>
                <div th:each="tour : ${top5Tours}" th:if="${tourStat.index > 0}" class="h-100">
                    <a th:href="@{/tour/{id}(id=${tour.id})}" class="h-100 d-block">
                        <div class="list-mig-like-com h-100 m-0">
                            <div class="list-mig-lc-img h-100">
                                <img class="h-100" style="object-fit: cover" th:src="${tour.image}" alt="">
                            </div>
                            <div class="list-mig-lc-con list-mig-lc-con2">
                                <h5 th:text="${tour.name}">United Kingdom</h5>
                                <p th:text="${tour.dayDuration + ' ngày ' + tour.nightDuration + ' đêm'}">81
                                    Cities </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-light pt80 pb60 solutions">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto text-center mb-5">
                    <h2 class="title text-center">Why Choose Us</h2>
                    <p>Sorem ipsum dolor sit amet, consectetur adipisicing Suscipit votas aperiam Sorem ipsum dolor
                        consectur adipisicing elit.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-lg-3 mb-4 mb-lg-0">
                    <div class="shadow-hover h-100 bg-white px-5 pt-0 pb-5 text-center up-on-hover"><span
                            class="alt-font text-light-gray display-2 font-italic opacity-2">01</span> <span
                            class="d-block mb-4"><i class="fas fa-road display-2 text-grad"></i></span> <a class="h5"
                                                                                                           href="#">Rail
                        Booking</a></div>
                </div>
                <div class="col-sm-6 col-lg-3 mb-4 mb-lg-0">
                    <div class="shadow-hover h-100 bg-white px-5 pt-0 pb-5 text-center up-on-hover"><span
                            class="alt-font text-light-gray display-2 font-italic opacity-2">02</span> <span
                            class="d-block mb-4"><i class="fas fa-utensils display-2 text-grad"></i></span> <a
                            class="h5" href="#">Hotel Booking</a></div>
                </div>
                <div class="col-sm-6 col-lg-3 mb-4 mb-lg-0">
                    <div class="shadow-hover h-100 bg-white px-5 pt-0 pb-5 text-center up-on-hover"><span
                            class="alt-font text-light-gray display-2 font-italic opacity-2">03</span> <span
                            class="d-block mb-4"><i class="fas fa-ticket-alt display-2 text-grad"></i></span> <a
                            class="h5" href="#">Ticket Booking</a></div>
                </div>
                <div class="col-sm-6 col-lg-3 mb-4 mb-lg-0">
                    <div class="shadow-hover h-100 bg-white px-5 pt-0 pb-5 text-center up-on-hover"><span
                            class="alt-font text-light-gray display-2 font-italic opacity-2">04</span> <span
                            class="d-block mb-4"><i class="fas fa-child display-2 text-grad"></i></span> <a class="h5"
                                                                                                            href="#">Amazing
                        Tour</a></div>
                </div>
            </div>
        </div>
    </section>

    <section class="Categories pt80 pb60 ">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-8">
                    <p class="subtitle text-secondary nopadding">Stay and eat like a local</p>
                    <h1 class="paddtop1 font-weight lspace-sm">Popular Hotels</h1>
                </div>
                <div class="col-md-4 d-lg-flex align-items-center justify-content-end">
                    <a th:href="@{/hotel}"
                       class="blist text-sm ml-2">
                        <span th:text="#{common.viewMore}">See all Hotels</span><i
                            class="fas fa-angle-double-right ml-2"></i>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="swiper-container guides-slider-home-cruises">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide h-auto px-2" th:each="hotel : ${top6Hotels}">
                            <div class="listing-item ">
                                <article class="TravelGo-category-listing fl-wrap">
                                    <div class="TravelGo-category-img" style="height: 222px">
                                        <a th:href="@{/hotel/{id}(id=${hotel.id})}">
                                            <img th:src="${hotel.image}" alt="">
                                        </a>
                                        <div class="TravelGo-category-opt" style="pointer-events: none;">
                                            <div class="listing-rating card-popup-rainingvis mb-4" data-starrating2="5">
                                                <i class="fa fa-star" aria-hidden="true"
                                                   th:each="star : ${#numbers.sequence(1, hotel.starRate)}"></i><i th:if="${5 - hotel.starRate}"
                                                    class="far fa-star" aria-hidden="true"
                                                    th:each="star : ${#numbers.sequence(1, 5 - hotel.starRate)}"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="TravelGo-category-content fl-wrap title-sin_item">
                                        <div class="TravelGo-category-content-title fl-wrap">
                                            <div class="TravelGo-category-content-title-item">
                                                <h3 class="title-sin_map" th:text="${hotel.name}">
                                                    <a th:href="@{/hotel/{id}(id=${hotel.id})}">Asia & African
                                                        Cruise</a></h3>
                                                <div class="TravelGo-category-location fl-wrap">
                                                    <a href="#" class="map-item">
                                                        <i class="fas fa-map-marker-alt"></i>
                                                        <p style="display: inline"
                                                           th:text="${hotel.addressDetail}">27th Brooklyn New York,
                                                            USA
                                                        </p>
                                                    </a>
                                                    <span th:text="${#numbers.formatDecimal(hotel.price, 0, 'COMMA', 0, 'POINT')} + ' VNĐ'">$ 200</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="TravelGo-category-footer fl-wrap">
                                            <div class="TravelGo-category-price btn-grad"><span>1 night</span>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>

                    </div>
                    <div class="swiper-pagination d-md-none"></div>
                </div>
            </div>
    </section>

    <section th:replace="fragments/client/custom_tour"></section>
</div>


</body>

</html>