<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<div layout:fragment="content">
    <section class="login-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="login-box">
                        <div class="login-top">
                            <h3 th:text="#{form.login}">Welcome Back.</h3>
                            <p th:text="#{form.login.description}">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </div>
                        <form class="login-form" th:action="@{/auth/login}" method="post">
                            <p class="text-danger" th:if="${param.error}" th:text="#{form.error.login}"></p>
                            <div class="row">
                                <div class="col-md-12 email">
                                    <label>Email</label>
                                    <input type="email" name="email" th:placeholder="#{form.email.holder}">
                                </div>
                                <div class="col-md-12 password">
                                    <label>Password</label>
                                    <input type="password" name="password" th:placeholder="#{form.password.holder}">
                                </div>
                                <div class="col-md-12 d-flex justify-content-between">
                                    <div class="chqbox">
                                        <input type="checkbox" name="rememberme" id="rmme">
                                        <label th:text="#{form.remember}" for="rmme">Remember Me</label>
                                    </div>
                                    <div class="forget-btn">
                                        <a href="" th:text="#{form.forget}">Forget Password?</a>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <button type="submit" th:text="#{form.login}">Sign In</button>
                                </div>
                            </div>
                        </form>
<!--                        <div class="login-btm text-center">-->
<!--                            <p th:text="#{form.login.other}">or sign in with</p>-->
<!--                            <ul class="list-unstyled list-inline">-->
<!--                                <li class="list-inline-item"><a href=""><i class="fab fa-google"></i></a></li>-->
<!--                                <li class="list-inline-item"><a href=""><i class="fab fa-facebook"></i></a></li>-->
<!--                                <li class="list-inline-item"><a href=""><i class="fab fa-twitter"></i></a></li>-->
<!--                            </ul>-->
<!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

</html>