<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="/css/style.css" type="text/css" rel="stylesheet"/>
    <link href="/css/bootstrap-datepicker.css" type="text/css" rel="stylesheet"/>
    <!-- Favicon -->
    <!-- Favicon and Touch Icons -->
    <link href="/images/favicon.png" rel="shortcut icon" type="image/png">
    <link href="/images/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="/images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
    <link href="/images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
    <link href="/images/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">
    <title>WorldStoryTravel - Travel, Tour, Hotel Booking</title>
</head>
<body>
<header th:replace="~{fragments/client/header}"></header>

<p layout:fragment="content" th:remove="tag">
    Content is Here!
</p>


<footer th:replace="~{fragments/client/footer}"></footer>
</body>

<script>
    const HOST = "http://localhost:8080"
</script>
<script src="/js/jquery.min.js" type="text/javascript"></script>
<script src="/js/popper.min.js" type="text/javascript"></script>
<script src="/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/js/functions.js" type="text/javascript"></script>
<script src="/js/owl.carousel.min.js" type="text/javascript"></script>
<script src="/js/slick.js" type="text/javascript"></script>
<script src="/js/swiper.min.js" type="text/javascript"></script>
<script src="/js/main.js" type="text/javascript"></script>
<script src="/js/jquery.fancybox.min.js" type="text/javascript"></script>
<script src="/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="/js/jquery-ui.min.js" type="text/javascript"></script>

<script th:inline="javascript">
    let pagination = document.querySelector('.paginationCommon')
    let pages = pagination.querySelectorAll('.page')
    pages.forEach(page => {
        let value = page.getAttribute("value")
        page.onclick = function (e) {
            e.preventDefault()
            goToPage(value)
        }
    })


    function goToPage(number) {
        let strs = window.location.search;
        if (strs.includes("page")) {
            let index = strs.lastIndexOf("page=")
            strs = strs.substring(0, index + 5) + number + strs.substring(index + 6), strs.length
        } else {
            strs += "&page=" + number
        }

        window.location.search = strs
    }
</script>
<script layout:fragment="scripts"></script>

</html>