<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="/client_src/css/style.css" type="text/css" rel="stylesheet" />
    <link href="/client_src/css/bootstrap-datepicker.css" type="text/css" rel="stylesheet" />
    <!-- Favicon -->
    <!-- Favicon and Touch Icons -->
    <link href="/client_src/images/favicon.png" rel="shortcut icon" type="image/png">
    <link href="/client_src/images/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="/client_src/images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
    <link href="/client_src/images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
    <link href="/client_src/images/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">
    <title>TravelGo - Travel, Tour Booking HTML5 Template</title>
</head>
<body>
    <header th:replace="~{fragments/client/header}"></header>

    <p layout:fragment="content" th:remove="tag">
        Content is Here!
    </p>

    <footer th:replace="~{fragments/client/footer}"></footer>
</body>

<script src="/js/jquery.min.js" type="text/javascript"></script>
<script src="/js/popper.min.js" type="text/javascript"></script>
<script src="/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/js/functions.js" type="text/javascript"></script>
<script src="/js/owl.carousel.min.js" type="text/javascript"></script>
<script src="/js/slick.js" type="text/javascript"></script>
<script src="/js/swiper.min.js" type="text/javascript"></script>
<script src="/js/main.js" type="text/javascript"></script>
<script src="/js/jquery.fancybox.min.js" type="text/javascript"></script>
<script src="/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="/js/jquery-ui.min.js" type="text/javascript"></script>

</html>